<div id="" class="rental d-flex jc-center">

    <section class="row mt-32 content-search">
        <div class="container">
            <div class="d-flex">
                <div class="col-75 pd-h-12">
                    <div class="re-content pd-h-12">
                        <div class="">
                            <a href="">Cho thuê</a>
                            <span>/</span>
                            <a href="">Hồ Chí Minh</a>
                            <span>/</span>
                            <a href="">Tất cả BĐS tại Hồ Chí Minh</a>
                        </div>

                        <span class="span-text mt-8"><i class="fa-solid fa-fire"></i> Có 795.872 lượt xem khu vực này
                            trong 7
                            ngày vừa
                            qua.</span>
                        <h1 class="mt-12">Cho thuê nhà đất tại Hồ Chí Minh</h1>
                        <span class="mt-12 total">Hiện có 21.458 bất động sản.</span>
                    </div>
                    <div class="mt-16 d-flex jc-between navbar-control pd-h-12">
                        <div class="d-flex navbar-control-item">
                            <div class="btn pd--8-12 btn-sm active"><i class="fa-solid fa-bars"></i></div>
                            <div class="btn pd--8-12 btn-sl"><i class="fa-solid fa-map-location-dot"></i></div>

                        </div>

                        <div class="btn w-4 btn-arrange pd--8-12">
                            <span>Thông thường</span>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>

                    </div>

                    {{#each data}}
                    <div class="mt-12 item-content mb-32" data-news="{{this.ma_so}}" data-da-like="{{this.da_like}}">
                        <a class="d-flex  btn-preview" href="/nha-cho-thue/{{this.ma_so}}">
                            <div class="col-66 img">
                                <img src="{{firstFourImages.[0]}}" alt="{{firstFourImages.[0]}}" class="w-full bd-l">
                            </div>
                            <div class="col-33 img">
                                <div class="img2">
                                    <img src="{{firstFourImages.[1]}}" alt="{{firstFourImages.[0]}}"
                                         class="w-full bd-r">
                                </div>
                                <div class="col-100 d-flex img2">
                                    <img src="{{firstFourImages.[2]}}" alt="{{firstFourImages.[0]}}" class="w-2">
                                    <img src="{{firstFourImages.[3]}}" alt="{{firstFourImages.[0]}}" class="w-2">
                                </div>
                            </div>

                        </a>
                        <div class="boder">
                            <a href="/nha-cho-thue/{{this.ma_so}}" class=" btn-preview">
                                <div class="mt-12 pd-h-12 mb-16">
                                    <span class="title-text">
                                        {{this.tieu_de}}
                                    </span>
                                    <div class="mt-12">
                                        <span class=" red-text">{{this.formattedPrice}} triệu/tháng
                                        </span>
                                        <span class=" red-text pd-h-12">·</span>
                                        <span class=" red-text">{{this.dien_tich}} m²
                                        </span>
                                        <span class="gray-text pd-h-12">·</span>
                                        <span class="gray-text">{{this.bedroom}} <i class="fa-solid fa-bed"></i></span>
                                        <span class="gray-text pd-h-12">·</span>
                                        <span class="gray-text">{{this.toilet}} <i class="fa-solid fa-bath"></i></span>
                                        <span class="gray-text pd-h-12">·</span>
                                        <span class="gray-text"> {{this.ten_quan_huyen}} , {{this.ten_thanh_pho}}</span>
                                    </div>
                                    <span class="text mt-8 gray-text">
                                        {{{this.noi_dung}}}
                                    </span>

                                </div>
                            </a>

                            <div class="d-flex jc-between pd--14-16 user-content ">
                                <div class="d-flex info-user ai-center">
                                    <img src="{{this.anh_dai_dien}}" alt="" width="40" height="40" class="avatar mr-8 ">
                                    <div>
                                        <span class="span-text">{{this.ten_nguoi_dung}}</span>
                                        <span class="span-text">Đăng {{this.ngay_tao}}</span>
                                    </div>
                                </div>
                                <div class="d-flex ai-center">
                                    <div class="btn-phone btn pd--8-12 mr-8">
                                        <i class="fa-solid fa-phone-volume"></i>
                                        <span>{{this.so_dien_thoai}}</span>
                                        <span class="">·</span>
                                        <span>Hiện số</span>
                                    </div>
                                    <div class="btn btn-like">
                                        {{#if this.da_like}}
                                        <i class="fa-solid fa-heart"></i>
                                        {{else}}
                                        <i class="fa-regular fa-heart"></i>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div class="col-25 pd-h-12 box-filter">
                    <div class="box-item">
                        <span class="span-text">Lọc theo giá</span>
                        <ul>
                            <li>Thỏa thuận</li>
                            <li>Dưới 1 triệu</li>
                            <li>1- 3 triệu</li>
                            <li>3- 5 triệu</li>
                            <li>5- 10 triệu</li>
                            <li>10- 15 triệu</li>
                            <li>Trên 15 triệu</li>
                        </ul>
                    </div>

                    <div class="box-item">

                        <span class="span-text">Lọc theo diện tích</span>
                        <ul>
                            <li>Dưới 20 m<sub>2</sub></li>
                            <li>Từ 20 - 30 m<sub>2</sub></li>
                            <li>Từ 30 - 50 m<sub>2</sub></li>
                            <li>Từ 50 - 70 m<sub>2</sub></li>
                            <li>Từ 70 - 100 m<sub>2</sub></li>
                            <li>Trên 100 m<sub>2</sub></li>
                        </ul>
                    </div>

                    <div class="box-item">

                        <span class="span-text">Lọc theo khu vực</span>
                        <ul>
                            {{#each diaLyData}}

                            <li data-id="{{this.ma_so}}">{{this.ten_quan_huyen}}</li>
                            {{/each}}

                        </ul>
                    </div>

                    <div class="box-item">
                        <span class="span-text">Lọc theo danh mục cho thuê</span>
                        <ul>
                            <li>Tất cả</li>
                            {{#each chuyenmucData}}
                            <li data-id="{{this.ma_so}}">{{this.ten_chuyen_muc}}</li>

                            {{/each}}
                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </section>


</div>